#ced-menu
{
-moz-padding-start: 0px;
width:100%;
position:fixed;
height:40px;
background-color: #111;
list-style:none;
box-shadow:0px 5px 5px #4e4e4e;
z-index:500;
text-transform:uppercase;
font-family:sans;
font-size:14px;
}

#ced-menu li
{
float:left;
color:#fff;
margin-left: 15px;
line-height:40px;
}

#ced-menu li a
{
padding:8px;
text-decoration:none;
color:#fff;
}

.me{
	background-color:#d00 !important;
}

#ced-menu li:hover
{
background-color:#d00;/* #9bce1e 8AC007*/
transition:0.7s ease-in-out;
}

#ced-menu li #menu-drop
{
-moz-padding-start: 0px;
list-style:none;
background-color:#111;
display:none;
margin:0 auto;
min-width:100px;
position:absolute;
}

#ced-menu li #menu-drop li
{
float:none;
margin:0 auto;
cursor:crosshair;
/* text-align:center; */
}

#ced-menu li #menu-drop li a
{
cursor:crosshair;
color:white;
}

#ced-menu li:hover #menu-drop
{
transition:0.8s ease-in-out;
cursor:crosshair;
display:block;
}